@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* 
Light
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
-
Dark
- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%) 
*/

.light {
  --bg-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --elements-color: hsl(0, 0%, 100%);

  --input-color: hsl(0, 0%, 52%);
}

.dark {
  --bg-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);

  --elements-color: hsl(209, 23%, 22%);
  --input-color: rgb(133, 133, 133);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.logo {
  font-size: clamp(16px, 4vw, 1.5rem);
  color: var(--text-color);
  font-weight: 800;
}

header {
  background-color: var(--elements-color);
  box-shadow: 0 10px 15px -15px rgb(0 0 0 / 20%);
}

.nav {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.theme-switcher {
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: clamp(12px, 3vw, 1rem);
  animation: loading 0.75s;
}

/* Country List */

.country-list-grid {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 281px));
  justify-content: center;

  gap: 2rem;
}

/* Country Cards */
.country-card {
  background-color: var(--elements-color);
  border-radius: 5px;
  overflow: hidden;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  font-size: 14px;
  cursor: pointer;

  animation: loading 0.75s;
}

@keyframes loading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.country-card-flag {
  height: 187px;
  overflow: hidden;
}

.country-card-flag img {
  display: block;
  width: 100%;
  height: 100%;
}

.country-card-info {
  padding: 20px;
  color: var(--text-color);
}

.country-card-info-title {
  font-size: 1.17rem;
  margin-bottom: 20px;
}
.country-card-info-stats {
  padding-bottom: 8px;
}

.bold {
  font-weight: 600;
}

/* Search & Filter Bar */
.searchbar {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.searchbox {
  background-color: var(--elements-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  max-width: 100%;
}

.searchbox {
  width: 25rem;
}

.searchbox input {
  border: 0;
  outline: none;
  height: 3rem;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--elements-color);
}

.searchbox input {
  text-indent: 10px;
  width: 100%;
}

.searchbox input::placeholder {
  font-size: 12px;
  color: var(--input-color);
}

.searchBtn {
  height: 18px;
  color: var(--input-color);
}

.dropdown {
  background-color: var(--elements-color);
  border-radius: 5px;

  padding: 0 20px;
  max-width: 100%;
  width: 12rem;
  font-size: 14px;
  color: var(--text-color);
  position: relative;
}

.dropdown-title {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown ul {
  border-radius: 4px;
  background-color: var(--elements-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);

  padding: 10px 0;
  position: absolute;
  top: 110%;
  left: 0;
  list-style-type: none;
  width: 100%;
  z-index: 99;
}

.dropdown ul li {
  padding: 4px 20px;
  cursor: pointer;
}

.dropdown ul li:hover {
  background-color: var(--bg-color);
}

.arrow {
  height: 15px;
  margin-left: 20px;
}

/* Country Details */

.country-details-container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;

  animation: loading 0.75s;
}

.country-details-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8rem;
}

.flag-wrapper img {
  max-width: 100%;
  width: 500px;
}

.country-details {
  padding: 50px 0;
  flex: 1;
}

.country-details-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;

  padding: 50px 0;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  max-width: 120px;
  padding: 6px 20px;
  margin-bottom: 50px;

  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.border-btn {
  display: inline-block;
  padding: 2px 15px;

  margin-left: 8px;
  margin-bottom: 8px;

  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.btn {
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--elements-color);
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
}
