@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* 
Light
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
-
Dark
- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%) 
*/

.light {
  --bg-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);

  --elements-color: hsl(0, 0%, 100%);
}

.dark {
  --bg-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);

  --elements-color: hsl(209, 23%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 1.5rem;
  color: var(--text-color);
}

header {
  background-color: var(--elements-color);
  box-shadow: 0 10px 15px -15px rgb(0 0 0 / 20%);
}

nav {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
}

.theme-switcher {
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.theme-switcher img {
  width: 16px;
}
